html{
    color: #333333;
    font-family:Karla,Arial,Helvetica,sans-serif;
    background-color: #f7f7f7;
}

@font-face {
    font-family: "Karla";
    src:url(../fonts/karla_n4.woff2) format('woff2');
}

/* menu */
.all-sort-list{
  padding-top:25px;
    box-sizing: border-box;
  background:#53bcbc;
}

.all-sort-list .item{
    padding-left:30px;
    height:42px;
    cursor: pointer;
    border-top: transparent;
}

.all-sort-list .item:hover{
    background:#FF6700;
}

.all-sort-list .item h3{
    line-height: 42px;
}

.all-sort-list .item h3 a:hover{
    color: #fff;
    font-weight:bold;
}

.all-sort-list .item span{
    display:none;
}

.item-list .subitem{
    padding: 0 10px 8px;
}

.item-list .subitem dt{
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.item-list .subitem dd em{
    padding:3px 13px;
    border-left: 0;
    border-right: 1px solid #ccc;
}

.item-list .subitem dd em:last-child{
    border-right: 0;
}

.item-list .subitem dd em a, .item-list .cat-right dd a{
    font-style: normal;
}
